* {
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

img {
    width: 50%;
}

body {
    color: var(--text-color);
}

:root {

    --text-color: rgb(122, 117, 117);
    --main-color: rgb(47, 226, 167);
    --bg-color: whitesmoke;

}

section {
    padding: 4rem 3rem;
}

/* header */

.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--bg-color);
    box-shadow: 0 1px 4ps hsl(0 4% 15% / 10%);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo {
    text-transform: uppercase;
    font-size: 1.1rem;
    color: var(--main-color);
    font-weight: 500;
}

#cart-icon {
    color: var(--main-color);
    font-size: 1.5rem;
    cursor: pointer;
}

.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 25%;
    min-height: 100vh;
    padding: 20px;
    background: var(--bg-color);
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
}

.cart.active {
    right: -100%;
}



.cart-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.cart-box {
    display: grid;
    grid-template-columns: 20% 40% 40%;
    gap: 2rem;
    margin-top: 1rem;
}

.cart-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}

.cart-product-title {
    font-size: 1rem;
    text-transform: uppercase;
}

.cart-price {
    font-weight: 500;
}

.cart-quantity {
    border: 1px solid var(--text-color);
    outline-color: var(--main-color);
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}

.cart-remove {
    font-size: 1rem;
    color: var(--main-color);
    cursor: pointer;
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--main-color);
}

.total-title {
    font-size: 1rem;
    font-weight: 600;
}

.total-price {
    margin-left: 0.5rem;
}

.btn-buy {
    display: flex;
    margin: 1.5rem;
    padding: 12px 20px;
    border: none;
    background: var(--main-color);
    color: var(--text-color);
    font-size: 1rem;
    cursor: pointer;
}

.btn {
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: var(--main-color);
    color: var(--text-color);
    font-size: 1rem;
    cursor: pointer;
}

#close-cart {
    position: absolute;
    top: 0.5rem;
    left: 0.8rem;
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
}





.form {
    margin: 10rem;
    display: none;
}

.show {
    margin: 10rem;
}